.home-page{
    height: 85vh;
}
.image-container{
    width: 520px;
    border: 15px solid;
}
.nav-link:active{
    color: #ffc107;
}
.aboutimg{
    position: relative;
    margin: -61px 0px 38px -47px
}
.heading{
    color:#433f3f64;
    font-size: 14rem;
    font-weight: 800;
    position: relative;
    margin: -285px 0 0 0;
    z-index: -1;
}

.portfolio-image-container{
    width: 259px;
    border: 10px solid;
}

@media (max-width: 991.98px) {
   
    .aboutimg{
        position: relative;
        margin: -15px 0px 15px -20px
    }
    .aboutimg{
        width: 250px;
    }
    .image-container{
        width: 250px;
        border: 5px solid;
    }
    .heading{
        color:#433f3f64;
        font-size: 4rem;
        font-weight: 800;
        position: relative;
        margin: -120px 0 0 0;
        z-index: -1;
    }
    .display-1{
        font-size: 2rem;
    }
    .portfolio-btn{
        font-size: 14px !important;
    }
    .footer{
        font-size: 16px !important;
     
    }
    .fs-5{
        font-size: 14px !important;
    }
    .col-lg-6 .px-5{
        padding: 0 10px !important;
    }
}
